<h1><%=@movie.title%> Page</h1>
<div>
Description of movie:<%=@movie.description%> <br>
 Run-time: <%=@movie.length%> mins long.

 <h2>Actors in this movie:</h2>
<ul>
 <% @movie.actors.each do |actor|%>
    <li><%=link_to actor.name, actor_path(actor)%></li>
    <% end %>
</div>
</ul>
<%= link_to 'Back to movies home page.', movies_path %><br>
<%= link_to 'Edit this Movie', edit_movie_path %><br>
<%= link_to 'Delete this Movie.', actor_path(@movie), :method => :delete%>
